---
import Features from "~/components/features.astro";
import Header from "~/components/header.astro";
import Abouts from "~/components/abouts.astro";
import "~/styles/index.css";

const { generator, site } = Astro;
const image = new URL("preview.png", site);
const description = "It's the Day Of The Dog. Avoid the infection! Only one dog can save us now! The World is succumbed to plague. One Dog. will save us now. There is just 1 problem The Dog is infected, and needs your help to eliminate the enemy hoard. gamer, can you?";


---

<!doctype html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/logoswirl.svg" type="image/svg+xml" />
    <meta name="generator" content={generator} />

    <title>Day Of The Dog</title>
    <meta name="description" content={description} />

    <!-- social media -->
    <meta property="og:title" content="Day Of The Dog | About | ArtechFuz3D" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={site} />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- initialize theme -->
    <script is:inline>
      const themeSaved = localStorage.getItem("theme");

      if (themeSaved) {
        document.documentElement.dataset.theme = themeSaved;
      } else {
        const prefersDark = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.dataset.theme = prefersDark ? "dark" : "light";
      }

      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (event) => {
          if (!localStorage.getItem("theme")) {
            document.documentElement.dataset.theme = event.matches
              ? "dark"
              : "light";
          }
        });
    </script>
  </head>
  <body
    class="h-full overflow-x-hidden overflow-y-scroll bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <div class="space-y-32 px-8 py-32">
      <Features />
      <Abouts />
    </div>
  </body>
</html>
